# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# PyInstaller
dist/
build/
*.spec

# Virtual environment
venv/
env/
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
